body{
     background: rgb(2,0,36);
	 background: linear-gradient(150deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
     text-align: center;
}

h2{
	color: white;
	font-family: 'Indie Flower', cursive;
	font-size: 300%;
	padding: 0;
	text-decoration-line:underline;
	text-decoration-style: wavy;
	padding-top: 10px;
}
#para{
	font-family: 'Josefin Sans', sans-serif;
	color: white;
	font-size:30px;}




span {
	font-size: 2em;
}

#logo {
	opacity: 0.7;
	padding-bottom: 5px;
}
header{
 	border-width: 5px;
	border-color: white;
	border-style: groove;
	line-height: 0px;
	box-shadow: 10px 10px 5px rgb(54,26,145);
}

hr {
	height:20px;
	color: white;
	background-color: white;
}

.photo{
	text-align:left;
	display: inline;
}
#blazon{
	float: right;
	padding-left: 5px;
}

#div1{
	display: block;
	background-color:white;

}


a{
	color: white;
}
.atractie{
	width: 150px;
	height: 100px;
}

button {
	height: 50px;
	width: 500px;
}
button>a{
	color: black;
}

* {box-sizing:border-box}


.slideshow-container {
  
  max-width: 1000px;
  position: relative;
  margin: auto;
}


.mySlides {
  display: none;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
    margin-top: -22px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 8px 12px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev {
	left:0;
	border-radius: 3px 0 0 3px;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}